<form>

    <div class="form-group">
        <label for="urltext">URL</label>
        <input type="text" ng-model="model.w.url" class="form-control" id="urltext" value="http://www.youtube.com/embed/23rTGf4oF">
    </div>
    <div class="form-group">
        <label for="width">Width</label>
        <input type="text" ng-model="model.w.width" class="form-control" id="width" placeholder="200px">
    </div>
    <div class="form-group">
        <a class="btn btn-danger btn-block"
           ng-click="model.deleteWidget()">Delete</a>
    </div>
</form>
