 <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 text-center"><i class="fa fa-snowflake-o fa-5x" aria-hidden="true"></i></div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center"><h1>Login</h1></div>
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" id="password" placeholder="password">
        </div>

        <a class="btn btn-primary btn-block btn-success" href="#/user/123">Login</a>
        <a class="btn btn-success btn-block btn-danger" href="#/register">Register</a>
    </div>

    <footer class="navbar navbar-fixed-bottom text-center text-muted"><i class="fa fa-superpowers" aria-hidden="true"></i>Powered by ABC</footer>