<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header btn-block">
                <a class="navbar-brand" href="#/register">
                    Register
                </a>
            </div>
        </div>
    </nav>
    <div class="container container-if-fixed-header container-if-fixed-footer">
        <div ng-show="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" ng-model="user.username" class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="text" ng-model="user.firstName" class="form-control" id="firstname" placeholder="First Name">
        </div>
        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" ng-model="user.lastName" class="form-control" id="lastname" placeholder="Last Name">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" ng-model="user.email" class="form-control" id="email" placeholder="Email">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" ng-model="user.password" class="form-control" id="password" placeholder="password">
        </div>
        <div class="form-group">
            <label for="repassword">Retype Password</label>
            <input type="password" ng-model="user.repassword" class="form-control" id="repassword" placeholder="retype password">
        </div>

        <br/>
        <a class="btn btn-primary btn-block btn-success"
           ng-click="model.register(user)">Register</a>
        <a class="btn btn-danger btn-block" href="#/login">Cancel</a>

    </div>

