<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="col-md-4 small hidden-sm hidden-xs">
            <div class="navbar-header btn-block">
                <p class="navbar-text pull-left pull-left-margin-1em"><a href="#/user/{{model.userId}}/website" class="navbar-link"><i class="fa fa-chevron-left"></i></a></p>
                <a class="navbar-brand" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">Pages</a>
                <p class="navbar-text pull-right"><a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new" class="navbar-link"><i class="fa fa-plus"></i></a></p>
            </div>
        </div>

        <div class="col-md-8">
            <div class="navbar-header btn-block">
                <a class="navbar-brand" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}">Edit Page</a>
                <p class="navbar-text pull-right"><a ng-click="model.updatePage();" class="navbar-link"><i class="fa fa-check"></i></a></p>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid container-if-fixed-header">

    <div class="row website-list-group-item">
        <div class="col-md-4 small hidden-xs">


            <div class="col-md-12 list-group-item container" ng-repeat="p in model.pagelist">
                <p class="pull-left"><strong>{{p.name}}</strong></p>
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{p._id}}" > <i class="fa fa-cog pull-right"></i></a>
            </div>


        </div>

        <div class="col-md-8">
            <div class="form-group">
                <label for="new-page-name">Name</label>
                <input type="text" ng-model="model.page.name" class="form-control" id="new-page-name" value="Home">
            </div>
            <br/>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" ng-model="model.page.description" class="form-control" id="title" value="Home Sweet Home.">
            </div>
            <div class="form-group">
                <a ng-click="model.deletePage()" class="btn btn-danger btn-block">Delete</a>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom container-fluid">
        <div class="navbar-text pull-right row">
            <div class="text-center col-md-12">
                <a href="#/user/{{model.userId}}">
                    <span class="fa fa-user fa-2x"></span>
                </a>
            </div>
        </div>
    </nav>

</div>