<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="navbar-header btn-block">
                    <p class="navbar-text pull-left"><a href="#/user/1234/website/6543/page/6543/widget" class="navbar-link"><i class="fa fa-chevron-left"></i></a></p>
                    <a class="navbar-brand" href="#/user/4323/website/4322/page/6544/widget/4323/youtube">Widget Edit</a>
                    <p class="navbar-text pull-right"><a href="#/user/1234/website/4322/page/1234/widget" class="navbar-link"><i class="fa fa-check"></i></a></p>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid container-if-fixed-header container-if-fixed-footer">
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="headingtext">Text</label>
                <input type="text" class="form-control" id="headingtext" placeholder="Describe Video">
            </div>

            <div class="form-group">
                <label for="urltext">URL</label>
                <input type="text" class="form-control" id="urltext" value="http://www.youtube.com/embed/23rTGf4oF">
            </div>
            <div class="form-group">
                <label for="width">Width</label>
                <input type="text" class="form-control" id="width" placeholder="200px">
            </div>
            <div class="form-group">
                <a class="btn btn-danger btn-block"
                   href="#/user/4323/website/4322/page/6544/widget/">Delete</a>
            </div>
        </form>


    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom container-fluid">
        <div class="navbar-text pull-right row">
            <div class="text-center col-md-12">
                <a href="#/user/1234">
                    <span class="fa fa-user fa-2x"></span>
                </a>
            </div>
        </div>
    </nav>