<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="navbar-header btn-block">
                <p class="navbar-text pull-left"><a href="#/user/1234/website/5433/page/1234/widget" class="navbar-link"><i class="fa fa-chevron-left"></i></a></p>
                <a class="navbar-brand" href="#/user/1234/website/7654/page/5643/widget/new">Choose Widget</a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid container-if-fixed-header container-if-fixed-footer">

    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-4"><a href="#/user/4323/website/4322/page/6544/widget/4323" class="no-decoration">Header</a></div>
                <div class="col-xs-6 meta-information hidden-xs"> This represents header. THIS WILL HIDE IN SMALL SCREEN</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-4"><a href="#" class="no-decoration">Label</a></div>
                <div class="col-xs-6 meta-information hidden-xs"> This represents label for inputs.</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-4"><a href="#" class="no-decoration">HTML</a></div>
                <div class="col-xs-6 meta-information hidden-xs"> This is for custom HTML code.</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-4"><a href="#" class="no-decoration">Text Input</a></div>
                <div class="col-xs-6 meta-information hidden-xs"> This represents text input.</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-4"><a href="#" class="no-decoration">Button</a></div>
                <div class="col-xs-6 meta-information hidden-xs"> This represents button.</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-4"><a href="#/user/4323/website/4322/page/6544/widget/4323/image" class="no-decoration">Image</a></div>
                <div class="col-xs-6 meta-information hidden-xs"> For custom images.</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-4"><a href="#/user/4323/website/4322/page/6544/widget/4323/youtube" class="no-decoration">YouTube</a></div>
                <div class="col-xs-6 meta-information hidden-xs"> For embedded youtube videos.</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-4"><a href="#" class="no-decoration">Data Table</a></div>
                <div class="col-xs-6 meta-information hidden-xs"> This is for tables.</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-4"><a href="#" class="no-decoration">Repeater</a></div>
                <div class="col-xs-6 meta-information hidden-xs"> This represents scrollable element with infinite repeate.</div>
            </div>
        </li>
    </ul>
</div>

    <nav class="navbar navbar-default navbar-fixed-bottom container-fluid">
        <div class="navbar-text pull-right row">
            <div class="text-center col-md-12">
                <a href="#/user/1234">
                    <span class="fa fa-user fa-2x"></span>
                </a>
            </div>
        </div>

    </nav>