<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="navbar-header btn-block">
                <p class="navbar-text pull-left"><a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link"><i class="fa fa-chevron-left"></i></a></p>
                <a class="navbar-brand" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/new">Choose Widget</a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid container-if-fixed-header container-if-fixed-footer">

    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-4"><a ng-click="model.addWidget('HEADER')" class="no-decoration">Header</a></div>
                <div class="col-xs-6 meta-information hidden-xs"> This represents header. THIS WILL HIDE IN SMALL SCREEN</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-4"><a ng-click="model.addWidget('HTML')" class="no-decoration">HTML</a></div>
                <div class="col-xs-6 meta-information hidden-xs"> This is for custom HTML code.</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-4"><a ng-click="model.addWidget('IMAGE')" class="no-decoration">Image</a></div>
                <div class="col-xs-6 meta-information hidden-xs"> For custom images.</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-4"><a ng-click="model.addWidget('YOUTUBE')" class="no-decoration">YouTube</a></div>
                <div class="col-xs-6 meta-information hidden-xs"> For embedded youtube videos.</div>
            </div>
        </li>
    </ul>
</div>

    <nav class="navbar navbar-default navbar-fixed-bottom container-fluid">
        <div class="navbar-text pull-right row">
            <div class="text-center col-md-12">
                <a href="#/user/{{model.userId}}">
                    <span class="fa fa-user fa-2x"></span>
                </a>
            </div>
        </div>

    </nav>